/*w 0.59259 h 0.5625*/
.container2 {
    width: 616px;
    height: 1080px;
    /*no*/
    position: absolute;
    top: 50%;
    left: 650px;
    margin-top: -540px;
    /*no*/
    overflow: hidden;
}

.container2 .content-box-left, .content-box-right {
    width: 100%;
    padding-top: 25px;
    /*no*/
    box-sizing: border-box;
    overflow: hidden;
}

.container2 .content-wrapper {
    width: 615px;
    height: 970px;
    /*no*/
    border: 1px solid #00ffd6;
    /*no*/
    padding-top: 45px;
    /*no*/
    box-sizing: border-box;
}

.container2 .abc-logo {
    width: 286px;
    height: 52px;
    background: url("../img/banklogo.png") no-repeat;
    background-size: contain;
    margin: 0px auto 56px;
    /*no*/
}

.container2 .video-wrapper {
    width: 613px;
    height: 343px;
    /*no*/
    margin: 0 auto 35px;
    /*no*/
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.container2 .video-box {
    width: 613px;
    height: 326px;
    /*no*/
}

.container2 .video-box .video {
    width: 613px;
    height: 326px;
    /*no*/
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    outline: 0;
    margin: 0 auto;
}

.container2 .video-bg {
    width: 613px;
    height: 326px;
    /*no*/
    overflow: hidden;
    position: relative;
}

.container2 .video-bg img {
    width: 613px;
    height: 326px;
    /*no*/
}

.container2 .video-play-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 613px;
    height: 326px;
    /*no*/
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../img/videoplay.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center center;
}

.container2 .video-btn-box {
    width: 568px;
    height: 348px;
    /*no*/
    margin: 0 auto;
    margin-top: 33px;
    /*no*/
    overflow: hidden;
}

.container2 .video-btn {
    width: 254px;
    height: 158px;
    /*no*/
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 16px;
    /*no*/
    float: left;
    background: url("../img/btnbg.png") no-repeat;
    background-size: 100% 100%;
}

.container2 .btn-item {
    width: 216px;
    height: 123px;
    /*no*/
    margin: 0 auto;
    margin-top: 16px;
    /*no*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*rightview*/

.container2 .person-wrapper {
    width: 616px;
    height: 973px;
    /*no*/
    background-image: url("../img/centerbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px 100px;
    padding-top: 87px !important;
    /*no*/
    padding-bottom: 146px !important;
    /*no*/
    box-sizing: border-box;
}

.container2 .user-item {
    width: 106px;
    float: left;
    margin: 0 29px;
    margin-bottom: 30px !important;
    /*no*/
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.container2 .avatar-box {
    width: 100px;
    height: 100px;
    background: url("../img/userBorder.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.container2 .user-avatar {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-top: 5px;
}

.container2 .user-name {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    overflow: hidden;
}

.container2 .user-desc {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

/*bottomview*/

.container2 .bottom-btn-box {
    position: absolute;
    bottom: 14px;
    /*no*/
    left: 120px;
    width: 408px;
    height: 33px;
    /*no*/
    line-height: 33px;
    /*no*/
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

.container2 .choose {
    background-image: url("../img/1.png") !important;
}

.container2 .btn-left {
    width: 240px;
    float: left;
    font-size: 18px;
    color: #00ffd6;
}

.container2 .left-choose {
    width: 133px !important;
    font-size: 16px !important;
    color: #fff !important;
}

.container2 .btn-right {
    width: 240px;
    float: right;
    font-size: 18px;
    color: #00ffd6;
}

.container2 .right-choose {
    width: 133px !important;
    font-size: 16px !important;
    color: #fff !important;
}