/*w 0.59259 h 0.5625*/
.container1 {
    width: 650px;
    height: 1080px;
    /*no*/
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -540px;
    /*no*/
    box-sizing: border-box;
    overflow: hidden;
}

.container1 .content-box-left, .container1 .content-box-right {
    width: 650px;
    padding-top: 25px;
    /*no*/
    box-sizing: border-box;
    overflow: hidden;
}

/*leftview*/

.container1 .lilv-box, .container1 .exchange-box, .container1 .gold-box {
    width: 605px;
    margin: 0px auto 20px;
    margin-bottom: 20px !important;
    /*no*/
    overflow: hidden;
    padding-top: 10px;
    /*no*/
    padding-bottom: 10px;
    /*no*/
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    color: #00ffd6;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*width: 985px*/
}

.container1 .lilv-box {
    background-image: url("../img/databg1.png");
    height: 230px;
    /*no*/
    overflow: hidden;
}

.container1 .exchange-box {
    background-image: url("../img/databg3.png");
    height: 450px;
    /*no*/
    overflow: hidden;
}

.container1 .gold-box {
    background-image: url("../img/databg2.png");
    height: 250px;
    /*no*/
    overflow: hidden;
}

.container1 .lilv-box .title, .container1 .exchange-box .title, .container1 .gold-box .title {
    font-size: 20px;
    height: 25px;
    /*no*/
    line-height: 25px;
    /*no*/
}

.container1 .lilv-box .mini-title {
    height: 25px;
    /*no*/
    line-height: 25px;
    /*no*/
    margin-bottom: 5px;
    /*no*/
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container1 .lilv-box .left {
    width: 290px;
    float: left;
    overflow: hidden;
}

.container1 .lilv-item {
    width: 290px;
    overflow: hidden;
}

.container1 .lilv-item .item-left, .container1 .lilv-item .item-right {
    width: 105px;
    height: 25px;
    /*no*/
    line-height: 25px;
    /*no*/
    overflow: hidden;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.container1 .lilv-item .item-left {
    margin-left: 30px;
}

.container1 .container1.lilv-box .line {
    width: 1px;
    float: left;
    background-color: #00ffd6;
    height: 150px;
    /*no*/
    margin: 15px auto 0px;
}

.container1 .lilv-box .right {
    width: 280px;
    float: right;
    overflow: hidden;
}

.container1 .exchange-wrapper {
    width: 580px;
    height: 335px;
    /*no*/
    margin-top: 10px;
    /*no*/
    overflow: hidden;
}

.container1 .exchange-item-box {
    width: 580px;
    overflow: hidden;
}

.container1 .gold-wrapper {
    width: 580px;
    height: 165px;
    /*no*/
    overflow: hidden;
}

.container1 .gold-item-box {
    width: 580px;
    overflow: hidden;
}

.container1 .exchange-item, .container1 .gold-item {
    width: 580px;
    height: 30px;
    /*no*/
    line-height: 30px;
    /*no*/
    color: #fff;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}

.container1 .exchange-item {
    height: 28px !important;
    /*no*/
    line-height: 28px !important;
    /*no*/
}

.container1 .exchange-title, .container1 .gold-title {
    color: #00ffd6 !important;
}

.container1 .exchange-item .name, .container1 .gold-item .name {
    width: 175px;
    float: left;
}

.container1 .exchange-item .buy, .container1 .gold-item .buy {
    width: 140px;
    float: left;
}

.container1 .exchange-item .sell, .container1 .gold-item .sell {
    width: 140px;
    float: left;
}

.container1 .exchange-item .time, .container1 .gold-item .time {
    width: 120px;
    float: left;
}

.container1 .exchange-item-box::-webkit-scrollbar, .container1 .excgoldhange-item-box::-webkit-scrollbar {
    display: none;
}

.container1 .exchange-item-box, .container1 .gold-item-box {
    -webkit-animation: bottomrowup 10s 1s linear infinite;
    animation: bottomrowup 10s 1s linear infinite;
}

.container1 .exchange-item-box:hover, .container1 .gold-item-box:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes bottomrowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -300px, 0);
        /*no*/
    }
}

@keyframes bottomrowup {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0,-300px, 0);
        /*no*/
    }
}

/*rightview*/

.container1 .product-box {
    width: 590px;
    height: 970px;
    /*no*/
    margin: 0 auto;
    overflow: hidden;
}

.container1 .product {
    width: 290px;
    height: 230px;
    /*no*/
    margin-bottom: 14px;
    /*no*/
    overflow: hidden;
    float: left;
}

.container1 .product:nth-child(odd) {
    margin-right: 10px;
}

.container1 .product-item {
    width: 290px;
    padding-top: 1px;
    /*no*/
    box-sizing: border-box;
    height: 230px;
    /*no*/
    background: url("../img/border4.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
}

.container1 .item-logo {
    width: 189px;
    height: 137px;
    /*no*/
    margin: 28px auto 5px;
    /*no*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 4px !important;
    overflow: hidden;
}

.container1 .item-name {
    width: 205px;
    height: 22px;
    /*no*/
    line-height: 22px;
    /*no*/
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

.container1 .item-detail-name {
    width: 205px;
    height: 33px;
    /*no*/
    line-height: 33px;
    /*no*/
    overflow: hidden;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 10px;
    /*no*/
    padding-bottom: 5px;
    /*no*/
    margin-top: 28px;
    /*no*/
    box-sizing: border-box;
}

.container1 .item-detail-content {
    width: 205px;
    height: 90px;
    /*no*/
    margin: 0 auto;
    line-height: 15px;
    /*no*/
    font-size: 14px;
    overflow: hidden;
}

.container1 .item-detail-left-logo {
    width: 140px;
    height: 50px;
    /*no*/
    margin-left: 50px;
    text-align: left;
    float: left;
}

.container1 .item-detail-left-logo img {
    width: 90px;
    height: 40px;
    border-radius: 5px;
}

.container1 .item-detail-right-logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
}

.container1 .item-detail-right-logo img {
    width: 40px;
    height: 40px;
}

/*bottomview*/

.container1 .bottom-btn-box {
    position: absolute;
    bottom: 14px;
    /*no*/
    left: 120px;
    width: 405px;
    height: 33px;
    /*no*/
    line-height: 33px;
    /*no*/
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    letter-spacing: 2px;
}

.container1 .choose {
    background-image: url("../img/1.png") !important;
}

.container1 .btn-left {
    width: 240px;
    float: left;
    font-size: 18px;
    color: #00ffd6;
}

.container1 .left-choose {
    width: 130px !important;
    font-size: 16px !important;
    color: #fff !important;
}

.container1 .btn-right {
    width: 240px;
    float: right;
    font-size: 18px;
    color: #00ffd6;
}

.container1 .right-choose {
    width: 130px !important;
    font-size: 16px !important;
    color: #fff !important;
}